.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.big-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.small-card {
  background: #f8fafc;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  padding: 20px;
}

.small-card h3 {
  color: #2563eb;
  margin-bottom: 10px;
}

.code {
  background: #0f172a;
  color: white;
  padding: 12px;
  border-radius: 8px;
  overflow-x: auto;
  margin-top: 10px;
}

.output {
  margin-top: 10px;
  padding: 10px;
  background: #dbeafe;
  border-left: 4px solid #2563eb;
  border-radius: 5px;
}